[Desktop Entry]
Version=0.1
Type=Application
Name=RAni
Comment=Unofficial AniList terminal client, written in Rust
Exec=kitty -e rani
Icon=rani
Terminal=false
Categories=Utility;ConsoleOnly;AudioVideo;
Keywords=anime;manga;anilist;tui;rust;cli;
StartupNotify=false
